.header {
	background-color: #000;
	display: flex;
	@include for-size(phone-only) {
		padding: 20px 6.7%;
	}
	@include for-size(tablet-portrait-up) {
		padding: 20px 10.7%;
	}
	@include for-size(tablet-landscape-up) {
		padding: 20px 6.7%;
	}
	@include for-size(desktop-up) {
		padding: 20px 10.7%;
	}
	&__navigation {
		display: flex;
	    justify-content: flex-end;
	    align-items: center;
	    width: 100%;
	    a {
	    	text-decoration: none;
	    	color: #b0b0b0;
	    	font-family: 'Open Sans Semibold';
	    	font-weight: 600;
	    	margin-left: 3.5%;
	    	@include for-size(phone-only) {
	    		display: none;
	    	}
	    }
	}

	&__menuToggle {
	display: none;
	width: 40px;
	position: absolute;
	top: 25px;
    right: 9.2%;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
		@include for-size(phone-only) {
			display: block;
		}
		input {
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			left: -5px;
			cursor: pointer;
			opacity: 0; /* hide this */
			z-index: 2; /* and place it over the hamburger */
			-webkit-touch-callout: none;
		}
		span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #ffffff;
		border-radius: 3px;
		background-color: #fff;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		            opacity 0.55s ease;
		}
		span:first-child {
		transform-origin: 0% 0%;
		}
		span:nth-last-child(2) {
			transform-origin: 0% 100%;
			margin-bottom: 0;
		}
		input:checked ~ span {
			opacity: 1;
			transform: rotate(45deg) translate(-2px, -1px);
			background: #fff;
		}
		input:checked ~ span:nth-last-child(3) {
			opacity: 0;
			transform: rotate(0deg) scale(0.2, 0.2);
		}
		input:checked ~ span:nth-last-child(2) {
			transform: rotate(-45deg) translate(0, -1px);
		}
		input:checked ~ nav
		{
			transform: none;
		}
	}
	&__mobile-menu {
		display: none;
		flex-direction: column;
		position: absolute;
		right: -130%;
		width: 300px;
		margin-top: 25px;
		background: #ededed;
		border-radius: 8px;
		background-color: black;
		opacity: 0.7;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(100%, 0);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		  	@include for-size(phone-only) {
				display: flex;
			}
		a {
			display: block;
			padding: 10px 0;
			font-size: 22px;
			color: #b0b0b0;
			cursor: pointer;
			text-align: center;
			font-family: 'Open Sans Semibold';
	    	font-weight: 600;
	    	font-size: 1em;
		}
	}
	}